
<section class="main">
<h2>User: <%= @user.name %></h2>
</section>
<br>
  <section class="review-description">
    <section class='user-main'>
      <h1>Reviews</h1>
    </section>
    <section id="sort-methods">
      <ul>
        <p><li><%= link_to 'Sort Reviews By Newest', user_path(sort:['newest_first','DESC']) %></li></p>
        <p><li><%= link_to 'Sort Reviews By Oldest', user_path(sort:['oldest_first','ASC']) %></li></p>
      </li>
    </section>
    <br>
    <br>
    <section class="book-ctn">
    <% @reviews.each do |review| %>
      <section class="book-card">
        <section id="review-id-<%= review.id %>">
          <%= link_to "Delete Review", book_review_path(review), method: :delete %>
          <h2>Title: <%= review.title %></h2>
          <p>User: <%= @user.name %></p>
          <br>
          <p>Rating: <%= review.rating %></p>
          <img src="<%= review.book.book_img_url %>">
          <p>Book Title: <%= link_to review.book.title, book_path(review.book)  %>
          <p>Contents: <%= review.text %></p>
          <p>Date: <%= review.created_at.time %></p>
        </section>
      </section>
      <% end %>
    </section>
      <br>
      <br>
</section>
