<br>
<section class='special-link'>
  <p><%= link_to 'Add a new Book', new_book_path %></p>
</section>
<h1>Book Statistics</h1>
<section class="statistics-area">
  <section class="stats-card" id="highest-rated-books">
    <h2>Top Books</h2>
    <br>
    <% @books.highest_rated_books.each do |book| %>
    <section id="top-book-card-<%= book.id %>">
      <h3><%= link_to book.title, book_path(book) %></h3>
      <br>
      <p>Average Rating: <%= book.average_rating.round(2) %></p>
      <br>
    </section>
    <% end %>
  </section>

  <section class="stats-card" id="lowest-rated-books">
    <h2>Worst Books</h2>
    <br>
    <% @books.lowest_rated_books.each do |book| %>
    <section id="btm-book-card-<%= book.id %>">
      <h3><%= link_to book.title, book_path(book) %></h3>
      <br>
      <p>Average Rating: <%= book.average_rating.round(2) %></p>
      <br>
    </section>
    <% end %>
  </section>

  <section class="stats-card" id="users-with-most-reviews">
    <h2>Users with Most Reviews</h2>
    <br>
    <% @top_reviewers.each do |user| %>
    <section id="user-card-<%= user.id %>">
      <h3><%= link_to user.name, user_path(user) %></h3>
      <br>
      <p>Review Count: <%= user.reviews.count %></p>
      <br>
    </section>
    <% end %>
  </section>
</section>
<h1>Current Reading List</h1>
<br>
<br>
  <section id="sort-methods">
    <ul>
      <li><p><a href="/books?sort=pages_asc">Sort By Pages Ascending</a></li>
      <li><p><a href="/books?sort=pages_desc">Sort By Pages Descending</a></li>
      <li><p><a href="/books?sort=reviews_desc">Sort By Most Reviews</a></li>
      <li><p><a href="/books?sort=reviews_asc">Sort By Least Reviews</a></li>
      <li><p><a href="/books?sort=best_ratings">Sort By Best Ratings</a></li>
      <li><p><a href="/books?sort=worst_ratings">Sort By Worst Ratings</a></li>
    </ul>
  </section>

<section class='book-ctn'>
  <% @books.each do |book| %>
    <section class='book-card' id="book-id-<%= book.id %>">
      <h2>Title: <%= link_to book.title, "/books/" + "#{book.id}" %></h2>
        <p>Pages: <%= book.pages %></p>
        <p>Year Published: <%= book.year_published %></p>
        <p>Author(s): <% book.authors.each do |author| %>
          <%= link_to author.name, author_path(author) %></p>
          <% end %>
        <img src="<%= book.book_img_url %>">
      </section>
  <% end %>
</section>
