<section class='new-book-link'>
  <p><%= link_to 'Add a new Book', new_book_path %></p>
</section>

<p><a href="/books?sort=pages_asc">Sort pages ascending</a>
<p><a href="/books?sort=pages_desc">Sort pages decending</a>
<p><a href="/books?sort=reviews_desc">Sort Most reviews</a>
<p><a href="/books?sort=reviews_asc">Sort Least reviews</a>

<section class='book-ctn'>
  <% @books.each do |book| %>
    <section class='book-card' id="book-id-<%= book.id %>">
      <h2>Title: <%= link_to book.title, "/books/" + "#{book.id}" %></h2>
        <p>Pages: <%= book.pages %></p>
        <p>Year Published: <%= book.year_published %></p>
        <p>Author(s): <% book.authors.each do |author| %>
          <%= link_to author.name, author_path(author) %></p>
          <% end %>
        <img src="<%= book.book_img_url %>">
    </section>
  <% end %>
</section>
