<br>
<section class='new-review-link'>
  <p><%= link_to 'Add a Review', new_book_review_path(@book) %></p>
</section>

<section class='delete-book-link'>
  <p><%= link_to 'Delete Book', book_path(@book), method: :delete %></p>
</section>

<section class='book-card' id="book-id-<%= @book.id %>">
  <br>
  <br>
  <img src="<%= @book.book_img_url %>">
  <h2>Title: <%= @book.title %></h2>
      <p>Pages: <%= @book.pages %></p>
      <p>Year Published: <%= @book.year_published %></p>
  <p>Author(s): <% @book.authors.each do |author| %>
    <%= link_to author.name, author_path(author) %></p>
  <% end %>
  <p>Pages: <%= @book.pages %></p>
</section>
<br>
<br>
<div class="review-description" %>
  <h1>Reviews</h1>
  <br>
  <br>
  <% @book.reviews.each do |review| %>
    <section id="review-id-<%= review.id %>">
      <h2>Title: <%= review.title %></h2>
      <br>
      <p>User: <%= link_to review.user.name, user_path(review.user) %></p>
      <p>Rating: <%= review.rating %></p>
      <p>Contents: <%= review.text %></p>
    </section>
    <br>
    <br>
  <% end %>
</div>
