<div class="form-title">
<h1>New Book Form</h1>
</div>
<br>
<br>

<div class="form-field">
<%= form_for [@book, @review] do |f| %>

<%= f.fields_for @user do |g|%>

<%= g.label :name %>
<%= g.text_field :name %>
<br>
<br>
<% end %>

<%= f.label :title %>
<%= f.text_field :title %>
<br>
<br>
<%= f.label :rating %>
<%= f.number_field :rating %>
<br>
<br>
<%= f.label :text %>
<%= f.text_field :text %>
<br>
<br>
<br>
<%= f.submit class: 'submit-class'%>

<% end %>
</div>
